<h1 class="title"><%= Contest.model_name.human count: :many %></h1>
<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= t 'contests.name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td width="100%">
          <%= link_to contest.name, contest_path(contest) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

