<h1>Contests</h1>
<table>
  <tr>
    <th>Contest Name</th>
  </tr>
  <% @contests.each do |contest| %>
    <tr>
      <td>
        <%= link_to contest.name, contest_path(contest) %>
      </td>
      <td>
        <%= button_to "Edit", edit_admin_contest_path(contest), method: :get %>
      </td>
      <td>
        <%= button_to "Delete", admin_contest_path(contest), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

