<h1 class="title"><%= @problem.name %></h1>
<p>
  <%= @problem.description %>
</p>

<% if policy_scope(@problem.submissions).length > 0 %>
  <h1>Submissions</h1>
  <ul>
    <%= render partial: 'submissions/submission', collection: policy_scope(@problem.submissions) %>
  </ul>
<% end %>

<section class="section">
  <%= render partial: 'submissions/form' %>
</section>

