<div class="columns is-centered">
  <div class="column is-half">
    <div id="clearance" class="sign-up box">
      <h1 class="title"><%= t(".title") %></h1>
      <%= form_for @user do |form| %>
        <%= render partial: '/sessions/form', object: form %>

        <div class="other-links">
          <%= link_to t(".sign_in"), sign_in_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
