<tr>
  <td>
    <%= link_to "Submission #{submission.id}: #{submission.language.name}", submission_path(submission) %>
  </td>
  <td>
    <%= submission.get_message %>
  </td>
  <td>
    <%= submission.get_score %>
  </td>
</tr>
