<% if flash[error] %>
  <div class="content notification is-danger">
    <b>There were problems with this form:</b>
    <ul>
      <% for error in flash[error] %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
